[submodule "external/vxl"]
	path = external/vxl
	url = git@bitbucket.org:visionsystemsinc/vxl.git
[submodule "external/openmesh"]
	path = external/openmesh
	url = git@bitbucket.org:visionsystemsinc/openmesh.git
[submodule "external/vsi_common"]
	path = external/vsi_common
	url = https://github.com/VisionSystemsInc/vsi_common.git
[submodule "external/pyvxl"]
	path = external/pyvxl
	url = https://github.com/VisionSystemsInc/pyvxl.git
[submodule "external/pyopenmesh"]
	path = external/pyopenmesh
	url = git@bitbucket.org:visionsystemsinc/pyopenmesh.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
