[submodule "external/vxl"]
	path = external/vxl
	url = https://github.com/vxl/vxl.git
[submodule "external/openmesh"]
	path = external/openmesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "external/pyvxl"]
	path = external/pyvxl
	url = https://github.com/VisionSystemsInc/pyvxl.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
